name: Android CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: android-ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-test-lint:
    runs-on: [self-hosted, X64, Linux]

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up JDK 17
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Android SDK
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3

      - name: Generate local.properties
        run: |
          echo "sdk.dir=$ANDROID_HOME" > local.properties
          echo "MAPS_API_KEY=DUMMY_KEY_FOR_CI" >> local.properties

      - name: Set up Gradle (with caching)
        uses: gradle/actions/setup-gradle@0b6dd653ba04f4f93bf581ec31e66cbd7dcb644d # v4

      - name: Build (Debug)
        run: ./gradlew assembleDebug --stacktrace

      - name: Unit tests (Debug)
        run: ./gradlew testDebugUnitTest --stacktrace

      - name: Android Lint (Debug)
        run: ./gradlew lintDebug --stacktrace

      - name: Upload reports (always)
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: reports
          path: |
            **/build/reports/**
            **/build/test-results/**
